Source: fab
Section: misc
Priority: optional
Maintainer: Liraz Siri <liraz@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 pyproject-common,
 python-all (>= 2.6.6-3~),
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: fab
Architecture: any
Depends:
 cpp,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
 pyproject-common,
Recommends:
 pool,
Suggests:
 genisoimage,
 squashfs-tools,
 wodim,
Description: product fabrication framework
