Source: fab
Section: misc
Priority: optional
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.7~),
 python3-debian,
 dh-python
Standards-Version: 4.0.0
X-Python-Version: >= 3.7

Package: fab
Architecture: any
Depends:
 cpp,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
 python3-debian
Recommends:
 pool,
Suggests:
 genisoimage,
 squashfs-tools,
 wodim,
Description: product fabrication framework
