Source: fab
Section: misc
Maintainer: Stefan Davis <stefan@turnkeylinux.org>
Build-Depends:
 debhelper-compat (= 13),
 python3-all (>= 3.13),
 pybuild-plugin-pyproject,
 dh-python,
 python3-debian,
Standards-Version: 4.7.2
X-Python3-Version: >= 3.13
Vcs-Git: https://github.com/turnkeylinux/fab.git
Vcs-Browser: https://github.com/turnkeylinux/fab

Package: fab
Architecture: all
Depends:
 cpp,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
 turnkey-chroot,
 python3-debian,
 xorriso,
 squashfs-tools,
 pool,
Suggests:
 dd,
 wodim,
Description: TurnKey GNU/Linux product fabrication framework
