#! /usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

progname=fab
prefix=debian/$(progname)/usr

build:
	mkdir -p $(prefix)

clean:
	$(MAKE) clean
	dh_clean

install: build
	dh_clean -k
	dh_installdocs docs/
	$(MAKE) install prefix=$(prefix)
	#$(MAKE) install-nodoc prefix=$(prefix)

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdeb -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
